<mapper namespace="com.lagou.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.lagou.pojo.User">
        select * from user
    </select>

    <delete id="delUser" paramterType="java.lang.Integer">
        DELETE FROM user WHERE id = #{id};
    </delete>

    <update id="updateById" paramterType="com.lagou.pojo.User">
        update user set username = #{username},password = #{password},birthday = #{birthday}
        where id = #{id}
    </update>

    <insert id="insertUser" paramterType="com.lagou.pojo.User">
        INSERT INTO user (username, password,birthday)
        VALUES
        (#{username}, #{password},#{birthday});
    </insert>

</mapper>